*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

div.menu{
    background-color: rgb(4, 4, 119);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 5%;
    gap: 20px;
}


.principal{
    padding: 5%;
    flex-grow: 1;
}

@media (max-width: 640px){
    body{
        flex-direction: column-reverse;
    }
    div.menu{
        flex-direction: row;
        justify-content: space-evenly;
    }
}